

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

PRIVY_SECRET=
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=





JUNO_API_KEY=
JUNO_API_SECRET=
JUNO_API_URL=https://stage.buildwithjuno.com
JUNO_RECEIVER_NAME=

NEXT_PUBLIC_API_URL  # Or your production URL


NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_PICS=